/* ************************************************************************/
/********************************* GERAL **********************************/

* {
	margin: 0;
	padding: 0;
}

body{
    background: rgba(118, 105, 230, 0.26);
}

/* ******************************* CABEÇALHO ******************************/


body{
    font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#cabecalho{
    background: rgba(133, 133, 182, 0.795);
    border-bottom: 1px solid black;
    height: 80px;

}


#menulinks{
    float: right;
    margin-right: 40px;
    margin-top: 45px;

}

a{
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#logotipo{
    float: left;
    margin-left: 30px;
    width: 120px;
    height: 100px;
}

header span h1{
    width: 200px;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 200px;
}


/* *********************************************************************** */

/* ************************ AREA EMAIL *********************************** */

#input-email{ /* TEXTO ANTES DA BOX PARA INSERIR EMAIL */
    height: 120px;
    padding: 40px;
    text-align: center;  
    box-sizing: border-box;  /* FAZ COM QUE O PADDING NÃO ALTERE O TAMANHO DA CAIXA */
    background: linear-gradient(rgb(238, 218, 218), black);
    color: rgb(255, 245, 152);
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
    text-shadow: 10px 3px 10px; /* sombra do texto digite aqui... */
}

#email{   /* ESSA AQUI É A BOX EMAIL */
    border: 2px solid black;
    width: 200px;
    height: 20px;

}

/* TRANSICAO DO BOTÃO ENVIAR!!!!!! */

#botao-enviar{
    width: 50px;
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
    border: 1px solid rgb(0, 0, 0);
    transition: border 0.5s, border-radius 0.5s;
}

#botao-enviar:hover{  /*TRANSICAO PARA O BOTAO ENVIAR! */
    border-radius: 10px;
    border: 3px solid rgba(44, 44, 252, 0.623)
}


/* *********************************************************************** */
/******************************* SEÇÃO 1 ***********************************/

#imagem-empresa { /* é a imagem em si */
    height: 180px;

}

.box-empresa{ /* essa é a box onde tem a imagem e a legenda */
    margin-top: 10px;
    width: 12em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

.secao1{
    box-sizing: border-box;
    width: 60%;
    margin-left: 300px;
    background-color:  rgba(227, 226, 236, 0.452);
}

.secao1 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(185, 50, 50, 0.699);
    height: 45px;
    font-size: 30px;
}

.secao1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}





/**************************************************************************/
/******************************* RODAPÉ **********************************/

footer{
    clear: both;
    text-align: center;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0);
    color: white;
}